body {
  background-color: rgb(138, 182, 50);
  font-family: 'Montserrat', sans-serif;
}
.container0{
  position: absolute;
  z-index: -1;
}
.container0_1{
  z-index: 1;
}
.container1 {
  background-color: rgb(8, 24, 13);
  color: #038e3d;
  padding: 30px 25px 35px;
  margin: 45px 15px 0;
  border-radius: 5px;
}
.container1_1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.container1_1 span {
  background-color: #038e3d;
  color: #40d27d;
  padding: 2px 5px;
  border-radius: 2px;
}
.container1_2 {
  padding: 0;
  margin: 0;
}
.container1_2 h1{
  margin: 10px 0;
  font-weight: 700;
}
.container1_3 {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
}
.container1_3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.container1_3 ul li {
  margin-bottom: 5px;
}
.icon{
  width: 20px;
  color: #038e3d;
}
.container1_4 {
  margin-bottom: 13px;
  font-weight: 500;
}
.container1_5 span {
  border: 1.3px solid #038e3d;
  border-radius: 2px;
  padding: 3px 8px 4.5px;
}
.container1_5 span a{
  text-decoration: none;
  color: #038e3d;
  font-weight: 500;
}
.container2 {
  margin: 100px 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.cell{
 display: inline-block;
 margin: 0 30px;
}
.circle{
  color: rgb(160, 213, 165);
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: radial-gradient(circle at 65px 65px , #01662b ,#01451d , #000b05);
}
.circle div{
  line-height: 20px;
}

.container3{
    max-width: fit-content;
    margin: 0;
    right: 30px;
    position: absolute;
}
.btn{
  background-color: #323131;
  color: #fff;
  font-size: 15px;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
}
.btn:hover{
  background-color: #000;
  cursor: pointer;
}
